body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:7959px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:-214px;
  top:0px;
  width:1480px;
  height:7959px;
  display:flex;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/main/u0_div.png');
  background-repeat:no-repeat;
  background-size:1480px 2137px;
  background-position: 0.0px -1015.5px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:-234px;
  top:0px;
  width:1480px;
  height:106px;
  display:flex;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1095px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:48px;
  color:#000000;
  text-align:left;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:257px;
  width:1095px;
  height:199px;
  display:flex;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:48px;
  color:#000000;
  text-align:left;
}
#u66 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:48px;
  color:#000000;
  text-align:left;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:995px;
  width:1002px;
  height:233px;
  display:flex;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:48px;
  color:#000000;
  text-align:left;
}
#u67 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:885px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#000000;
  text-align:right;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:357px;
  width:885px;
  height:220px;
  display:flex;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#000000;
  text-align:right;
}
#u68 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1186px;
  height:2258px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#000000;
  text-align:left;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:1072px;
  width:1186px;
  height:2258px;
  display:flex;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#000000;
  text-align:left;
}
#u69 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/main/u0_div.png');
  background-repeat:no-repeat;
  background-size:1480px 2137px;
  background-position: 0.0px -1049.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:-234px;
  top:906px;
  width:1480px;
  height:39px;
  display:flex;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/main/u0_div.png');
  background-repeat:no-repeat;
  background-size:1480px 2137px;
  background-position: 0.0px -1049.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:-234px;
  top:3415px;
  width:1480px;
  height:39px;
  display:flex;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/main/u0_div.png');
  background-repeat:no-repeat;
  background-size:1480px 2137px;
  background-position: 0.0px -1049.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:-234px;
  top:4254px;
  width:1480px;
  height:39px;
  display:flex;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/main/u0_div.png');
  background-repeat:no-repeat;
  background-size:1480px 2137px;
  background-position: 0.0px -1049.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:-234px;
  top:5093px;
  width:1480px;
  height:39px;
  display:flex;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/main/u0_div.png');
  background-repeat:no-repeat;
  background-size:1480px 2137px;
  background-position: 0.0px -1049.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:-216px;
  top:7920px;
  width:1480px;
  height:39px;
  display:flex;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/main/u5_div.png');
  background-repeat:no-repeat;
  background-size:264px 148px;
  background-position: 0.0px -17.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:0px;
  width:264px;
  height:114px;
  display:flex;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:731px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/lore/u76_div.png');
  background-repeat:no-repeat;
  background-size:523px 734px;
  background-position: 0.0px -1.5px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:-234px;
  top:140px;
  width:523px;
  height:731px;
  display:flex;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:304px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/lore/u77_div.jpg');
  background-repeat:no-repeat;
  background-size:972px 304px;
  background-position: 0.5px 0.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:3929px;
  width:973px;
  height:304px;
  display:flex;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:3487px;
  width:880px;
  height:290px;
  display:flex;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u78 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:314px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:4319px;
  width:844px;
  height:314px;
  display:flex;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u79 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:5147px;
  width:875px;
  height:177px;
  display:flex;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u80 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:6581px;
  width:844px;
  height:177px;
  display:flex;
  font-family:'Maven Pro ', 'Maven Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u81 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:1000px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/lore/u82_div.jpg');
  background-repeat:no-repeat;
  background-size:609px 1000px;
  background-position: 0.0px 0.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:6812px;
  width:609px;
  height:1000px;
  display:flex;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:304px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/lore/u83_div.png');
  background-repeat:no-repeat;
  background-size:973px 486px;
  background-position: 0.0px -91.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:4738px;
  width:973px;
  height:304px;
  display:flex;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Metal Mania ', 'Metal Mania', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:28px;
  width:171px;
  height:50px;
  display:flex;
  font-family:'Metal Mania ', 'Metal Mania', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u84 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Metal Mania ', 'Metal Mania', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:28px;
  width:158px;
  height:50px;
  display:flex;
  font-family:'Metal Mania ', 'Metal Mania', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u85 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Metal Mania ', 'Metal Mania', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:28px;
  width:224px;
  height:50px;
  display:flex;
  font-family:'Metal Mania ', 'Metal Mania', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u86 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Metal Mania ', 'Metal Mania', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:28px;
  width:78px;
  height:50px;
  display:flex;
  font-family:'Metal Mania ', 'Metal Mania', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u87 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:1000px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/lore/u88_div.jpg');
  background-repeat:no-repeat;
  background-size:609px 1000px;
  background-position: 0.0px 0.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:5487px;
  width:609px;
  height:1000px;
  display:flex;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
